extends layout

block content
		div.errorPanel
			div.field
				p.errorText#content Looks like something went wrong!!!
			div.field
				p.errorText #{errorText}
			div.field
				p.errorText Please click button below to go back to main page.
			div.field
				a(href='/')
					button.ui.button(type='button')
						| Main Page
			div.field
				br