extends layout

block content
	#bodyWrapper
			#headerWrapper
				#header
				#welcomeMessage
			#searchWrapper
				form.ui.form#searchBox(method = 'Post')
					div.field
						label(for='cityNameSearchBox') Search
						input#cityNameSearchBox(type='text', name='cityNameSearchBox', placeholder="City name: Brisbane, Sydney,...")
						select#optionList(name='optionList', from='searchBox')
							option(value='places') Attraction Places
							option(value='restaurants') Trending restaurants
						input#cityCodePlace(type='hidden', name='cityCodePlace')
						input#cityCodeRestaurant(type='hidden', name='cityCodeRestaurant')
						input#apiType(type='hidden', name='apiType')
					div.field
						button.ui.button#submitBTN(type='button')
							| Next
	div.loader1
		div.ui.active.inverted.dimmer
			div.ui.text.loader Loading
	script(src="/javascripts/autoComplete.js")
	script(src="/javascripts/main.js")
		
