doctype html
html
	head
		
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css')
		link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css')
		script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js')
		link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css', integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==', crossorigin='')
		script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js', integrity='sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==', crossorigin='')

		script(src='https://maps.api.sygic.com/js/leaflet/1.0.3/leaflet.js')
		script(src='https://maps.api.sygic.com/js/leaflet.sygic-1.1.0.js')

		script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

		link(rel='stylesheet', href='/javascripts/EasyAutocomplete-1.3.5/easy-autocomplete.min.css')

		script(src='/javascripts/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js')
		script(scr="javascripts/autoComplete.js")

		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(charset='UTF-8')
		title CAB432 Mashup Assignment
	body
		block content