extends layout

block content
	#searchWrapper2
		form.ui.form#searchBox(method = 'Post')
			div.field
				label(for='cityNameSearchBox') Search
				input#cityNameSearchBox(type='text', name='cityNameSearchBox', placeholder="City name: Brisbane, Sydney,...")
				select#optionList(name='optionList', from='searchBox')
					option(value='places') Attraction Places
					option(value='restaurants') Trending restaurants
				input#cityCodePlace(type='hidden', name='cityCodePlace')
				input#cityCodeRestaurant(type='hidden', name='cityCodeRestaurant')
				input#apiType(type='hidden', name='apiType')
			div.field
				button.ui.button#submitBTN(type='button')
					| Next
			div.field#searchResults
	#mapid map goes here
	div.loader1
		div.ui.active.inverted.dimmer
			div.ui.text.loader Loading
	script(src="/javascripts/main.js")
	script(src="/javascripts/main2.js")
	script(src="/javascripts/autoComplete.js")

	//script(src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js')
	//link(href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css', rel='stylesheet', type='text/css')
	script.
		var results = !{JSON.stringify(searchResults.places)};
		console.log(results);
		var length = #{searchResults.length};
		var cityName = "#{cityName.toString()}";
		var optionChecked = #{optionChecked.toString()};
		var cityCode = "#{searchCode.toString()}";
	
		


