html {
	background-image: url("../images/background.jpg");
  	background-size: 100%;
  	min-height: 900px;
  	min-width: 1600px;
  	height: 100%;

}
body {
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 20px;
  background-color: #9e555500;
  height: 100%;
  width: 100%;
  overflow : auto;
}

a {
  color: #00B7FF;
}


#searchWrapper {
	
	position: fixed;
	width : 50%;
	min-width: 300px;
	height: 22%;
	min-height: 220px;
	margin: auto;
	margin-left: 25%;
	margin-top: 18%;
	vertical-align: middle;
	padding: 10px;
	background-color: #363c2f4a;
	border-radius: 10px;
	z-index: 1000;
	overflow = auto;

}

#searchWrapper2 {
	
	position: fixed;
	width : 20%;
	min-width: 300px;
	height: 90%;
	min-height: 720px;
	max-height: 1000px;
	margin: auto;
	margin-left: 2%;
	margin-top: 2%;
	vertical-align: middle;
	padding: 10px;
	background-color: #363c2f4a;
	border-radius: 10px;
	z-index: 1000;
	overflow = auto;

}

#searchBox {
	min-height: 300px;
	height:90%;
}
#searchResults {
	min-height: 100px;
	max-height: 800px;
	height: 80%;
	overflow : auto;
	border-radius: 10px;
	background-color: #ffffff;
}

#comments {
	overflow: auto;
	max-height: 150px;
}

#searchBTN {
	size: 10%;
}

#searchBox {
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#mapid {
	height: 100%;
	width: 100%;


}

.item:hover {
	background-color: #CCE2FF;
}

.field2 {
	height: 20%;
}

.descriptionWrapper {
	overflow: auto;
	max-height: 100px;
}

.errorPanel {

	background-color: #363c2f4a;
	z-index: 2;
	font-size: 50px;
	width : 50%;
	margin-left: 25%;
	margin-top: 10%;
	text-align: center;
	color: white;
	border-radius: 20px;
}

.errorText {
}
.dimmer{
	z-index: 1005;
}
footer {
}
